.node {
  border: 1px solid black;
  padding: .5em;
  display: flex;
  flex-direction: column;
  margin: .5em;
  background-color: rgb(99, 96, 96);
}

.information {
  /* border: 1px solid red; */
  text-align: center;
  background-color: rgb(1, 65, 81);
}

.inner-elements {
  background-color: rgb(112, 40, 40);
  display: flex;
}